@font-face {
    font-family: 'POKEMON SOLID FONT';
    font-style: normal;
    font-weight: normal;
    src: local('POKEMON SOLID FONT'), url('../fonts/pokemonsolid.woff') format('woff');
}

h1 {
    font-family: 'POKEMON SOLID FONT';
    font-weight: 200;
    color: rgb(255, 255, 0);
}

#searchBoxText {
    font-family: 'POKEMON SOLID FONT';
    font-weight: 20;
    color: rgb(255, 255, 0);
}