@font-face {
    font-family: 'POKEMON SOLID FONT';
    font-style: normal;
    font-weight: normal;
    src: local('POKEMON SOLID FONT'), url('../fonts/pokemonsolid.woff') format('woff');
}

h2 {
    font-family: 'POKEMON SOLID FONT';
    color: rgba(56, 56, 56, 0.85);
}

.onCardHover:hover {
    cursor: pointer;
}

.heightAndWeight {
    font-style: italic;
}

.stats {
    color: darkolivegreen;
}

.pokemonName {
    font-family: 'POKEMON SOLID FONT';
}

.evolutionCondition {
    font-style: italic;
}

.showDetailsButton {
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: rgb(125, 200, 230);
    padding: 10px;
}

.showEachDetailsButton {
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 5px;
}

.greenHover:hover {
    background-color: green;
    color: white;
}

.redHover:hover {
    background-color: red;
    color:white
}